.add-new-project-container {
    height: 1200px;
    width: 230px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.add-project-text {
    font-size: 30px;
}
.project-items-select, .project-items-quantity {
    margin-right: 10px;
    box-shadow:  1.5px 1.5px 2.5px 3px #ccc;
}

.project-items-select {
    width: 90px;
}

.project-items-quantity {
    width: 50px;
    height: 14px;
    font-size: 15px;
    color: #3F3F3F;
    border: 1px solid rgb(2,176,215);
}

ol li {
    font-size: 20px;
    margin-right: 10px;
    padding: 5px;
}

.project-items-select, .project-items-quantity, .project-information {
    border-radius: 4px;
    font-size: 15px;
    height: 30px;
}

.project-information::placeholder, .project-items-quantity::placeholder, .project-information-instructions::placeholder {
    font-size: 15px;
    text-align: center;
    color: #3F3F3F;
}

.project-information, .project-information-instructions  {
    margin-top: 15px;
    border: 1px solid rgb(2,176,215);
    box-shadow:  1.5px 1.5px 2.5px 3px #ccc;
}

.project-information-instructions {
    border-radius: 4px;
    width: 190px;
    height: 200px;
    font-size: 15px;
}

.add-finished-project-button, .add-project-items-button {
    border-radius: 4px;
    margin-top: 20px;
    background: rgb(46,189,125);
    color: white;
    padding: 6px;
    font-size: 15px;
}

textarea {
    font-size: inherit;
}

@media (min-width: 700px) {
    .add-new-project-container {
        height: 900px;
        width: 400px;
    }
    .add-project-text {
        font-size: 40px;
    }
    .project-items-select {
        width: 170px;
    }  
    .project-items-quantity {
        width: 70px;
    } 
    ol li {
        font-size: 30px;
    }
    .project-items-select, .project-items-quantity, .project-information {
        font-size: 25px;
        height: 40px;
    }
    .project-information-instructions {
        width: 310px;
        font-size: 25px;
    }
    .add-finished-project-button, .add-project-items-button {
        font-size: 20px;
        padding: 10px;
    }
    .project-information::placeholder, .project-items-quantity::placeholder, .project-information-instructions::placeholder {
        font-size: 25px;
    }
}