.main-add-art-button {
    padding: 10px;
    font-size: 15px;
    border-radius: 8px;
    color: rgb(46,189,125, .8);
    margin: 10px;
    background: white;
    box-shadow:  1.5px 1.5px 2.5px 3px #ccc;
}

.main-add-art-button:hover {
    background: rgb(46,189,125, .8);
    color: white;
}

.main-add-art-button-container {
    background: rgb(249,246,247);
    display: flex;
    justify-content: flex-end;
}

.show-projects-container {
    background: rgb(249,246,247);
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-main-container {
    display: flex;
    flex: 0 1 180px;
    align-items: center;
    box-shadow:  3px 3px 5px 6px #ccc;
    width: 275px;
    height: 275px;
    margin: 10px;
    border-radius: 8px;
}

.delete-art-project-button {
    font-size: 15px;
    background: rgb(2,176,215, .9);
    color: white;
    padding: 10px;
    border-radius: 8px;
}

.projects-image {
    height: 250px;
    width: 160px;
    border-radius: 20px;
    padding: 10px;
}

.modal-text {
    font-size: 20px;
    color: #3F3F3F;
}


@media (min-width: 800px) {
    .modal-text {
        font-size: 25px;
    }
    .modal-title {
        font-size: 35px;
    }
    .main-add-art-button {
        padding: 15px;
        font-size: 30px;
        margin: 20px;
    }
    .project-main-container {
        flex: 0 1 270px;
        height: 385px;
        width: 225px;
    }
    .projects-image {
        height: 365px;
        width: 245px;
    }
    #delete-art-project-button {
        font-size: 30px;
    }
}

@media (min-width: 1600px) {
    .modal-title {
        font-size: 40px;
    }
    .modal-text {
        font-size: 30px;
    }
}
