.main-add-art-button {
    padding: 10px;
    font-size: 15px;
    border-radius: 8px;
    color: rgb(46,189,125, .8);
    margin: 10px;
    background: white;
    box-shadow:  1.5px 1.5px 2.5px 3px #ccc;
}

.main-add-art-button:hover {
    background: rgb(46,189,125, .8);
    color: white;
}

.main-add-art-button-container {
    background: rgb(249,246,247);
    display: flex;
    justify-content: flex-end;
}

.show-projects-container {
    background: rgb(249,246,247);
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.project-main-container {
    display: flex;
    flex-direction: column;
    flex: 0 1 180px;
    align-items: center;
    border: 1px solid rgb(2,176,215);
    box-shadow:  3px 3px 5px 6px #ccc;
    width: 275px;
    height: 275px;
    margin: 10px;
    border-radius: 8px;
}
#x {
    margin-left: 85%;
    margin-top: 3%;
    font-size: 20px;
    color: rgb(2,176,215);
}

.projects-image {
    border-radius: 8px;
    height: 225px;
    width: 140px;
}

.modal-text, .modal-text1 {
    color: #3F3F3F;
}

.modal-text1 {
    font-size: 18px;
}


@media (min-width: 800px) {
    .main-add-art-button {
        padding: 15px;
        font-size: 30px;
        margin: 20px;
    }
    .project-main-container {
        flex: 0 1 270px;
        height: 385px;
        width: 225px;
    }
    .projects-image {
        height: 315px;
        width: 225px;
    }
    #x {
        font-size: 30px;
    }
}
