/* .main-inventory-container {
    /* background: green; */
    /* width: 100vw;
    height: 11vh;
    display: flex;
    border: 2px solid black;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between
} */

/* .inventory-image-container { */
    /* background: purple; */
    /* height: 100px;
    width: 100px;
} */
/* 
.inventory-input {
    font-size: 20px;
    width: 50px;
} */ */