/* .main-inventory-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.inventory-link-container {
    background: purple;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90px;
}

.each-inventory-container {
    width: 150px;
    height: 175px;
    border: 1px solid rgb(175,61,63);
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;
}

.inventory-name {
    color: #3F3F3F;
    font-size: 20px;
    margin-left: 10px;
}

#edit-button {
    color: rgb(175,61,63);
    margin-top: 8px;
    margin-right: 5px;
}


.edit-inventory-container {
    /* background: yellow; */
    /* width: 150px;
    height: 40px;   
    display: flex;
    align-items: center;
    justify-content: space-between
}

.inventory-image {
    height: 110px;
    width: 90px;
    padding: 10px;
} */ 