@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap');

body {
    font-family: 'Darker Grotesque', sans-serif;
}

.header-text{
    color:rgb(2,176,215);
    font-size: 70px;
}
.header-container {
    background-color: rgb(249,246,247);
    height: 80px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.nav-container {
    display: flex;
    margin-top: 10px;
}
.nav-links {
    margin-right: 22px;
    color: rgb(2,176,215);
    font-size: 40px;
}

@media (min-width: 700px) {
    #hamburger {
        display: none;
    }

    .header-text {
        margin-top: 50px;
        margin-left: 10px;
    }
    .nav-links {
        text-decoration: none;
    }
}

@media (max-width: 700px) {
    .header-container {
        background-color: rgb(249,246,247);
        height: 60px;
        width: 100vw;
        justify-content: space-around;
    }

    .header-text {
        color:rgb(2,176,215);
        font-size: 40px;
        margin-left: 40%;
        font-weight: bold;
        margin-top: 20px;
    }

    .nav-links {
        display: none;
    }

    #hamburger {
        color: rgb(2,176,215);
        font-size: 35px;
        margin-left: 10px; 
    }
    .hamburger-links {
        font-size: 40px;
        padding: 10px;
    }

}
