@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap');

body {
    font-family: 'Darker Grotesque', sans-serif;
}

.header-container {
    height: 60px;
    width: 100vw;
    display: flex;
    align-items: center;
}

#hamburger {
    color: rgb(2,176,215);
    font-size: 35px;
    margin-left: 20px; 
}

.hamburger-links {
    font-size: 40px;
    padding: 10px;
}

@media (min-width: 900px) {
    #hamburger {
        font-size: 45px;
    }
}
@media (min-width: 1300px) {
    #hamburger {
        font-size: 50px;
        margin-top: 20px;
        margin-left: 40px;
    }
    .hamburger-links {
        font-size: 60px;
    }
    .header-container {
        height: 90px;
    }
}

