@import url('https://fonts.googleapis.com/css?family=Sigmar+One&display=swap');

.main-dashboard-image-container {
    width: 100vw;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.collage {
    background-image: url('./../Images/ChildrenPainting.jpg');
    background-size: cover;
    height: 200px;
    width: 280px;
    box-shadow:  3px 3px 5px 6px #ccc;
}


.main-dashboard-quote-container {
    width: 100vw;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-quote-container{
    border: 1.5px double #999;
    box-shadow: 1.5px 1.5px 2.5px 3px #ccc;
    display: flex;
    margin: 20px;
    height: 100px;
    width: 280px;
    align-items: center;
    justify-content: center;
}

.dashboard-quote {
    color: #3F3F3F;
    font-size: 20px;
    text-align: center;
}


@media (min-width: 500px) {
    .main-dashboard-image-container {
        height: 280px;
    }
    .collage {
        height: 250px;
        width: 350px;
    }
    .dashboard-quote-container{ 
        width: 350px;
    }
}



@media (min-width: 700px) {
    .main-dashboard-image-container {
        height: 375px;
    }
    .collage {
        height: 350px;
        width: 450px;
    }
    .dashboard-quote-container{ 
        width: 450px;
        border: 3px double #999;
        box-shadow: 3px 3px 5px 6px #ccc;
    }
}

@media (min-width: 850px) {
    .main-dashboard-image-container {
        height: 430px;
    }
    .collage {
        background-image: url('./../Images/BestCollage.JPG');
        background-size: cover;
        height: 400px; 
        width: 800px;
    }
    .dashboard-quote-container{ 
        width: 800px;
    }
    .dashboard-quote {
        font-size: 30px;
    }
}

@media (min-width: 1300px) {
    .main-dashboard-image-container{
        width: 100vw;
        height: 600px;
    }
    .collage {
        height: 550px;
        width: 1100px;
    }
    .dashboard-quote-container{ 
        width: 1100px;
    }
    .dashboard-quote {
        font-size: 35px;
    }
}

@media (min-width: 1500px) {
    .main-dashboard-image-container{
        height: 750px;
    }
    .collage {
        height: 680px;
        width: 1360px;
    }
    .dashboard-quote-container{ 
        width: 1360px;
    }
    .dashboard-quote {
        font-size: 35px;
    }
}







