.dashboard-main-links-container {
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.dashboard-links-container {
    width: 75px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px double #999;
    box-shadow: 1.5px 1.5px 2.5px 3px #ccc;
    margin: 10px;
    text-align: center;
}

.dashboard-link {

    text-decoration: none;
}

@media (min-width: 800px) {
    .dashboard-links-container {
        width: 140px;
    }
    .dashboard-link {
        font-size: 20px;
    }
}

@media (min-width: 1300px) {
    .dashboard-links-container {
        width: 300px;
        margin: 20px;
    }
    .dashboard-link {
        font-size: 40px;
    }
}