@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

.main-welcome-to-dashboard-container {
    /* background: palegreen; */
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    height: 625px;
    width: 100%;
    align-items: center;
}

.welcome-to-dashboard-container {
    text-align: center;
    height: 600px;
    width: 280px;
    border: 1.5px double #999;
    box-shadow: 1.5px 1.5px 2.5px 3px #ccc;
}

.dashboard-welcome-text {
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 10px;
    margin: 0;
    font-size: 40px;
    text-align: center;
    color: #83848B;
}

.dashboard-excited-text {
    font-family: 'Dosis', sans-serif;
    margin: 0;
    font-size: 18px;
    text-align: center;
    color: #83848B;
}


.dashboard-about-text {
    margin: 0;
    text-align: center;
    font-size: 22px;
    color: #3F3F3F;
}


.dashboard-information {
    margin: 0;
    text-align: center;
    font-size: 20px;
    color: #3F3F3F;
    padding: 10px;
}

#child1, #child2, #child3 {
    margin-top: 10px;
    font-size: 50px;
}

#child1 {
    color: red;
}

#child2 {
    color: rgb(2,176,215);
}

#child3 {
    color:  rgb(46,189,125);
}

@media (min-width: 500px) {
    .main-welcome-to-dashboard-container {
        height: 550px;
        margin-top: 15px;
    }
    .welcome-to-dashboard-container {
        width: 350px;
        height: 520px;
    }
}

@media (min-width: 700px) {
    .main-welcome-to-dashboard-container {
        height: 500px;
    }
    .welcome-to-dashboard-container {
        width: 450px;
        height: 470px;
        border: 3px double #999;
        box-shadow: 3px 3px 5px 6px #ccc;
    }
}

@media (min-width: 850px) {
    .main-welcome-to-dashboard-container {
        height: 480px;
    }
    .welcome-to-dashboard-container {
        width: 800px;
        height: 450px;
    }
    .dashboard-welcome-text {
        font-size: 60px;
        padding-top: 15px;
    }
    .dashboard-excited-text, .dashboard-about-text {
        font-size: 30px;
    }
    .dashboard-information {
        font-size: 25px;
    }
}

@media (min-width: 1300px) {
    .main-welcome-to-dashboard-container {
        height: 620px;
    }
    .welcome-to-dashboard-container {
        width: 1100px;
        height: 590px;
        padding-top: 20px;
    }
    .dashboard-welcome-text {
        font-size: 70px;
    }
    .dashboard-excited-text, .dashboard-about-text {
        font-size: 40px;
    }
    .dashboard-information {
        font-size: 35px;
    }
    #child1, #child2, #child3 {
        font-size: 80px;
    }
}

@media (min-width: 1500px) {
    .welcome-to-dashboard-container {
        width: 1360px;
    }
}






