@import url('https://fonts.googleapis.com/css?family=Handlee&display=swap');
.main-container {
    /* background: green; */
    /* margin-top: 5px; */
    width: 100vw;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.input-container {
    background: white;
    /* background: yellow; */
    width: 230px;
    color: #3F3F3F;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid rgb(2,176,215);
    box-shadow:  3px 3px 5px 6px #ccc;
    display: flex;
    flex-direction: column;
}

.input1, .input2 {
    margin-top: 15px;
    font-size: 15px;
    border: 0;
    background: transparent;
    border-bottom: 1px solid black;
    width: 230px;
}

.input1::placeholder, .input2::placeholder {
    font-family: 'Handlee', cursive;
    font-size: 18px;
}

.login-label {
    font-family: 'Handlee', cursive;
    font-size: 20px;
    color:rgb(2,176,215);
    font-weight: bold;
}

.button-container {
    /* background: green; */
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    font-family: 'Handlee', cursive;
}

.button {
    padding: 10px;
    text-align: center;
    background-color: rgb(2,176,215);
    font-size: 18px;
    border-radius: 8px;
    color: white;
    font-family: 'Handlee', cursive;
}

.handprints-container {
    /* background: red; */
    width: 100vw;
    /* height: 220px; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

@media (max-width: 550px) {
    .handprints-container {
        height: 200px;
    }
    .handprints {
        background-image: url('./../Images/Handprints.JPG');
        background-size: cover;
        height: 200px;
        width: 300px;
        align-items: center;
    }
}
@media (min-width: 550px) {
    .handprints {
        background-image: url('./../Images/Handprints.JPG');
        background-size: repeat;
        width: 100vw;
        height: 390px;
    }
}

@media (min-width: 1200px) {
    .main-container {
        height: 400px;
    }
    .input-container {
    justify-content: center;
    width: 400px;
    height: 300px;
    }
    .input1, .input2 {
        font-size: 23px;
        width: 400px;
    }
    .input1::placeholder, .input2::placeholder {
        font-size: 23px;
    }
    .login-label {
        font-size: 23px;
    }
    .button-container {
        height: 50px;
    }
    .button {
        font-size: 23px;
        width: 120px;
    }
}

