@media (max-width: 600px) {
    .main-container {
        background-image: url('https://kristinapersonalproject.s3-us-west-1.amazonaws.com/pawel-czerwinski-3k9PGKWt7ik-unsplash.jpg');
        width: 100vw;
        height: 100vh;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
    }    
    .button {
        padding: 10px;
        text-align: center;
        margin: 20px 10px;
        border: none;
        background-color:rgb(175,61,63);
        font-size: 17px;
        border-radius: 8px;
        color: white;
    }
    .input-container {
        display: flex;
        flex-direction: column;
    }
    .input1 {
        margin-top: 70px;
        font-size: 18px;
        border-radius: 6px;
    }
    .input2 {
        margin-top: 25px;
        font-size: 18px;
        border-radius: 6px;
    }
}


input::placeholder {
    text-align: center;
}

@media (min-width: 600px) {
    .main-container {
        background-image: url('https://kristinapersonalproject.s3-us-west-1.amazonaws.com/pawel-czerwinski-3k9PGKWt7ik-unsplash.jpg');
        background-size: cover;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .image {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60vh;
        width: 35vw;
        margin-top: 30px;
    }
    .input-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .input1 {
        font-size: 140%;
        border-radius: 6px;
    }
    .input2 {
        margin-top: 40px;
        font-size: 140%;
        border-radius: 6px;

    }
    .button {
        padding: 10px;
        text-align: center;
        margin: 30px 10px;
        border: none;
        background-color:rgb(175,61,63);
        font-size: 25px;
        border-radius: 8px;
        color: white;
    }
}

